
    <section>
        <div class="d-flex justify-content-center">
        <form>
            <div ng-init="studentR.gender='true';"></div>
            <h1 ng-bind="student.username"></h1>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">
                    Mật Khẩu</label>
                <input type="password" class="form-control" id="txtMatKhau" ng-model="studentR.password" />
            </div>
           
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Họ và Tên</label>
                <input type="text" class="form-control" id="txtHoVaTen" ng-model="studentR.fullname" />
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Gmail</label>
                <input type="text" class="form-control" id="txtGmail" ng-model="studentR.email" />
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="true" checked="checked" ng-model="studentR.gender" />
                <label class="form-check-label" for="inlineRadio1">Nam</label>
            </div>
            <div class="mb-3 form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="false" ng-model="studentR.gender" />
                <label class="form-check-label" for="inlineRadio2">Nữ</label>
            </div>
            <div class="mb-3">
                <label for="birthday">Birthday:</label>
                <input class="form-control" type="date" name="begin" id="date" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31" ng-model="studentR.birthday">
            </div>
          
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Học Phí</label>
                <input type="text" class="form-control" id="txtHocPhi" ng-model="studentR.schoolfee"/>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Điểm</label>
                <input type="text" class="form-control" id="txtdiem" ng-model="studentR.marks"/>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="Update()">Submit</button>
        </form>
    </div>
    </section>
    