
    <section>
        <div class="d-flex justify-content-center">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Tài Khoản</label>
              <input type="text" class="form-control" ng-model="username">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="text" class="form-control" ng-model="email">
              </div>

            <h3 ng-bind="text"></h3>  
            <button type="submit" class="btn btn-primary" ng-click="getPass()">Submit</button>
          </form>
        </div>
    </section>
 